<html>
<head>
    <title>Новый документ</title>
</head>
<body>
    <form method="post" action="~/Home/AcceptResultClass">
        <label>Код документа:</label>
        <input type="number" name="doc.Code" />
        <label>Наименование:</label>
        <input type="text" name="doc.Title" />
        <label>Кем выдан:</label>
        <input type="text" name="doc.IssuedBy" />
        <input type="submit" value="Добавить" />
    </form>
</body>
</html>