<html>
    <head>
        <title>Новый документ</title>
    </head>
    <body>
        <form method="post" action="~/Home/AcceptResult">
            <label>Код документа:</label>
            <input type="number" name="code"/>
            <label>Наименование:</label>
            <input type="text" name="title"/>
            <label>Кем выдан:</label>
            <input type="text" name="issuedBy"/>
            <input type="submit" value="Добавить"/>
        </form>
    </body>
</html>